build
*.iml
**/**.iml
*.ipr
.idea
.DS_Store
dist
target
**/*.releaseBackup
*.releaseBackup
release.properties
**/.flattened-pom.xml
*/.classpath
*/.project
*/.settings
*/bin
.project
.settings
tags
maven-eclipse.xml
Maven_Ant_Builder.launch
/openhtmltopdf-core/nbproject/
/.vscode/
/.metadata/
